{% extends "base_generic.html" %}

{% block content %}

<h2>Course: {{ course.name_full }} ({{ course.name }})</h2>
  <p><strong>Description:</strong> {{ course.description }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Module(s)</h4>

    {% if perms.lms.teacher_rights %}
    <a href="{% url 'module-create' course.id %}">Create module</a>
    {% endif %}

    {% for module in course.module_set.all %}
    <hr>
    <p><strong>Name:</strong> {{ module.name }}</p>
    <p><strong>Description:</strong> {{ module.description }}</p>
    <p><strong>Activities:</strong></p>
    
      {% for activity in module.activity_set.all %}
      <p><strong>{{ activity.name }} ({{ activity.get_activity_type }}):</strong> {{ activity.description }} </p>
      {% empty %}
      <p>( no activities registered )</p>
      {% endfor %}

    {% endfor %}
  </div>
  {% endblock %}