{% extends "base_generic.html" %}

{% block content %}

<h2>Course: {{ course.name_full }} ({{ course.name }})</h2>
  <p><strong>Description:</strong> {{ course.description }}</p>

  <div style="margin-left:20px;margin-top:20px">
    
    {% if perms.lms.teacher_rights %}
    <p><a href="{% url 'module-create' course.id %}">Create module</a></p>
    <p><a href="{% url 'upload-file' %}?course_id={{ course.id }}">Upload File</a></p>
    {% endif %}

    <hr>

    {% if course.document_set.count > 0 %}
    <h4>Files(s)</h4>
    {% for document in course.document_set.all %}
    <p><a href="{% url 'storage' document_id=document.get_id %}">{{ document.file_name }}</a></p>
    {% endfor %}
    <hr>
    {% endif %}

    
    <h4>Module(s)</h4>


    {% for module in course.module_set.all %}
    <hr>
    <p><strong>Name:</strong> {{ module.name }}</p>
    <p><strong>Description:</strong> {{ module.description }}</p>
    <p><strong>Activities:</strong></p>
    
      {% for activity in module.activity_set.all %}
      <p><strong>{{ activity.name }} ({{ activity.get_activity_type }}):</strong> {{ activity.description }} </p>
      {% empty %}
      <p>( no activities registered )</p>
      {% endfor %}

    {% endfor %}
  </div>
  {% endblock %}